<div class="clips-player">
  <!-- BEGIN: tab clip players -->
  <div class="row">
    <div class="small-12 columns">
      <div class="tabs-content" id="clip-player-container">
        <div class="content active" id="clip-player-0">
          <video id="clip-player-video-0" webkit-playsinline width="100%">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="content" id="clip-player-1">
          <video id="clip-player-video-1" webkit-playsinline width="100%">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="content" id="clip-player-2">
          <video id="clip-player-video-2" webkit-playsinline width="100%">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="content" id="clip-player-3">
          <video id="clip-player-video-3" webkit-playsinline width="100%">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
  <!-- END: tab clip players -->

  <!-- BEGIN: clip player controls -->
  <div class="row">
    <div class="small-12 columns">
      <div class="progress">
        <span class="meter"></span>
      </div>
    </div>
  </div>
  <!-- END: clip player controls -->

  <!-- BEGIN: tab navigation -->
  <div class="row">
    <div class="small-12 columns">
      <ul class="tabs small-block-grid-4" id="clip-player-nav" data-tab>
        <li class="tab-title active"><a id="clip-player-nav-0" href="#clip-player-0"></a></li>
        <li class="tab-title"><a id="clip-player-nav-1" href="#clip-player-1"></a></li>
        <li class="tab-title"><a id="clip-player-nav-2" href="#clip-player-2"></a></li>
        <li class="tab-title"><a id="clip-player-nav-3" href="#clip-player-3"></a></li>
      </ul>
    </div>
  </div>
  <!-- END: tab navigation -->

  <!-- BEGIN: description card -->
  <div id="description-card">
    <div class="row">
      <!-- BEGIN: description details -->
      <div class="small-10 columns">
        <div id="description-details">
          <div class="row">
            <div class="small-12 columns">
              <span class="square" id="brand-group-square"></span>
              <span id="brand-group">Coca-Cola</span>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns" id="stream">Youtube Sports 1K</div>
          </div>
          <div class="row">
            <div class="small-12 columns" id="time">1/6/2014 4:45PM</div>
          </div>
        </div>
      </div>
      <!-- END: description details -->
      <!-- BEGIN: description controls -->
      <div class="small-2 columns">
        <div id="description-control">
          <ul class="stack button-group">
            <li>
              <span id="volume" class="button control-button" title="Mute">
                <i class="fi-volume-strike"></i>
              </span>
            </li>
            <li>
              <span id="fullscreen" class="button control-button" title="Show original size">
                <i class="fi-arrows-out"></i>
              </span>
            </li>
            <li>
              <span id="download" class="button control-button" title="Download">
                <i class="fi-download"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <!-- END: description controls -->
    </div>
  </div>
  <!-- END: description card -->

</div>
