<div class="d3-chart">

<!-- BEGIN: Row 1: Summary -->
<div class="row">

  <div class="small-12 columns">
    <div class="card">
      <div class="title clearfix">
        <div class="text left">Summary</div>
        <div class="right">
          <span id="reset-component-charts" class="button radius title-button" title="Reset Chart">
            <i class="fi-refresh"></i>
          </span>
        </div>
      </div>
      <div class="content">Summary and legend here.</div>
    </div>
  </div>

</div>
<!-- END: Row 1: Summary -->

<!-- BEGIN: Row 2: Visual Pulse and Clip -->
<div class="row">

  <div class="small-12 medium-8 columns">
    <div class="card">
      <div class="title clearfix">
        <div class="text left">Visual Pulse</div>
        <div class="right">
          <span id="reset-component-charts" class="button radius title-button" title="Reset Chart">
            <i class="fi-refresh"></i>
          </span>
        </div>
      </div>
      <div class="content">This is a eight columns grid panel with an arbitrary height.</div>
    </div>
  </div>

  <div class="small-12 medium-4 columns">
    <div class="card">
      <div class="title clearfix">
        <div class="text left">Representative Clips</div>
        <div class="right">
          <span id="reset-component-charts" class="button radius title-button" title="Reset Chart">
            <i class="fi-refresh"></i>
          </span>
        </div>
      </div>
      <div class="content">
        <%= render "clips_player" %>
      </div>
    </div>
  </div>

</div>
<!-- END: Row 2: Visual Pulse and Clip -->

<!-- BEGIN: Row 3: Filter and BE Charts -->
<div class="row">

  <!-- BEGIN: Column 3a: Filter -->
  <div class="small-12 medium-4 columns">
    <div class="row">
      <div class="small-12 columns">
        <div class="card">
          <div class="title clearfix">
            <div class="text left">Filter</div>
            <div class="right">
              <span id="reset-component-charts" class="button radius title-button" title="Reset Chart">
                <i class="fi-refresh"></i>
              </span>
            </div>
          </div>
          <div class="content">
            <a class="left-off-canvas-toggle button" href="#">Change</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Column 3a: Filter -->

  <!-- BEGIN: Column 3b: BE Charts -->
  <div class="small-12 medium-8 columns">

    <!-- BEGIN: Off canvas top-level -->
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <!-- BEGIN Off canvas filters -->
        <aside class="left-off-canvas-menu">
          <div class="row">
            <div class="small-12 columns">
              <div class="card">
                <div class="title clearfix">
                  <div class="text left">Some Filter Selection</div>
                  <div class="right">
                    <span id="reset-component-charts" class="button radius title-button" title="Reset Chart">
                      <i class="fi-refresh"></i>
                    </span>
                  </div>
                </div>
                <div class="content" style="min-height:350px">This is a six columns grid panel with an arbitrary height. This is a six columns grid panel with an arbitrary height. </div>
              </div>
            </div>
          </div>
        </aside>
        <!-- END Off canvas filters -->

        <!-- BEGIN: Off canvas main content -->
        <!-- BEGIN: Row 3b1: BE and Spatial Position Charts -->
        <div class="row">
          <div class="small-12 medium-6 columns">
            <div class="card">
              <div class="title clearfix">
                <div class="text left">Brand Effectiveness</div>
                <div class="right">
                  <span id="reset-component-charts" class="button radius title-button" title="Reset Chart">
                    <i class="fi-refresh"></i>
                  </span>
                </div>
              </div>
              <div class="content">This is a six columns grid panel with an arbitrary height.</div>
            </div>
          </div>

          <div class="small-12 medium-6 columns">
            <div class="card">
              <div class="title clearfix">
                <div class="text left">Spatial Position</div>
                <div class="right">
                  <span id="reset-component-charts" class="button radius title-button" title="Reset Chart">
                    <i class="fi-refresh"></i>
                  </span>
                </div>
              </div>
              <div class="content">This is a six columns grid panel with an arbitrary height.</div>
            </div>
          </div>
        </div>
        <!-- END: Row 3b1: BE and Spatial Position Charts -->

        <!-- BEGIN: Row 3b2: BE Component Charts -->
        <div class="row">
          <div class="small-12 columns">
            <div class="card">
              <div class="title clearfix">
                <div class="text left">Brand Effectiveness Components</div>
                <div class="right">
                  <span id="reset-component-charts" class="button radius title-button" title="Reset Chart">
                    <i class="fi-refresh"></i>
                  </span>
                </div>
              </div>
              <div class="content">This is a three columns grid panel with an arbitrary height.</div>
            </div>
          </div>
        </div>
        <!-- END: Row 3b2: BE Component Charts -->
        <!-- END: Off canvas main content -->

        <!-- BEGIN: close off-canvas menu -->
        <a class="exit-off-canvas"></a>
        <!-- END: close off-canvas menu -->
      </div>
    </div>
    <!-- END: Off canvas top-level -->

  </div>
  <!-- END: Column 3b: BE Charts -->

</div>
<!-- END: Row 3: Filter and BE Charts -->

<!-- end D3 charts -->
</div>
