<!-- BEGIN: All charts -->
<div class="d3-chart">

<!-- BEGIN: Row 1 -->
<div class="row" id="row-1">

<!-- BEGIN: Summary panels -->
<div class="small-12 medium-4 large-4 columns">
  <div class="card">
    <div class="title clearfix">
      <div class="text left">Summary</div>
      <div class="right">
        <span id="reset-summary-panels" class="button radius title-button" title="Reset Chart">
          <i class="fi-refresh"></i>
        </span>
      </div>
    </div>
    <div class="content">Summary boxes and legend here.</div>
  </div>
</div>
<!-- END: Summary panels -->


<!-- BEGIN: Timeline chart -->
<div class="small-12 medium-8 large-8 columns">
  <div class="card">
    <div class="title clearfix">
      <div id="timeline-chart-title" class="text left">Brand Effectiveness</div>
      <div class="right">
        <span id="reset-timeline-charts" class="button radius title-button" title="Reset Chart">
          <i class="fi-refresh"></i>
        </span>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="small-12 columns">
          <div id="timeline-chart"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div id="brush-chart"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div id="game-selection-chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Timeline chart -->

<!-- END: Row 1 -->
</div>

<!-- BEGIN: Row 2 & 3 -->
<div class="row" id="row-2">

<!-- BEGIN: Bar chart component -->
<div class="small-12 medium-12 large-8 columns">
  <div class="card">
    <div class="title clearfix">
      <div class="text left">Brand Effectiveness Components</div>
      <div class="right">
        <span id="reset-component-charts" class="button radius title-button" title="Reset Chart">
          <i class="fi-refresh"></i>
        </span>
      </div>
    </div>
    <div class="content">
      <div id="component-bar-chart"></div>
    </div>
  </div>
</div>
<!-- END: Bar chart component -->


<!-- BEGIN: Spatial position chart -->
<div class="small-6 medium-7 large-4 columns">
  <div class="card">
    <div class="title clearfix">
      <div class="text left">Spatial Position</div>
      <div class="right">
        <span id="reset-spatial-position-chart" class="button radius title-button" title="Reset Chart">
          <i class="fi-refresh"></i>
        </span>
      </div>
    </div>
    <div class="content">
      <div id="spatial-position-chart"></div>
    </div>
  </div>
</div>
<!-- END: Spatial position chart -->


<!-- BEGIN: Brand Effectiveness -->
<div class="small-6 medium-5 large-3 columns">
  <div class="card">
    <div class="title clearfix">
      <div class="text left">Brand Effectiveness</div>
      <div class="right">
        <span id="reset-brand-effectiveness-bar-chart" class="button radius title-button" title="Reset Chart">
          <i class="fi-refresh"></i>
        </span>
      </div>
    </div>
    <div class="content">
      <div id="brand-effectiveness-bar-chart"></div>
    </div>
  </div>
</div>
<!-- END: Bar chart component -->


<!-- BEGIN: Thumbnail View -->
<div class="small-12 medium-12 large-9 columns">
  <div class="card">
    <div class="title clearfix">
      <div class="text left">Highest Brand Effectiveness Frames</div>
      <div class="right">
        <span id="reset-thumbnail-viewer" class="button radius title-button" title="Reset Chart">
          <i class="fi-refresh"></i>
        </span>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="small-12 columns">
          <div id="thumbnail-chart-refresh">Click to refresh</div>
          <ul id="thumbnail-chart" class="small-block-grid-2 medium-block-grid-4">
            <li data-reveal-id="thumbnail_li_0_reveal">
              <a class="th" href="#">
                <img src="/uploads/refresh_to_load.jpg">
              </a>
            </li>
            <li data-reveal-id="thumbnail_li_1_reveal">
              <a class="th" href="#">
                <img src="/uploads/refresh_to_load.jpg">
              </a>
            </li>
            <li data-reveal-id="thumbnail_li_2_reveal">
              <a class="th" href="#">
                <img src="/uploads/refresh_to_load.jpg">
              </a>
            </li>
            <li data-reveal-id="thumbnail_li_3_reveal">
              <a class="th" href="#">
                <img src="/uploads/refresh_to_load.jpg">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Thumbnail View -->

  </div>
</div>
<!-- END: All charts -->


<!-- BEGIN: Thumbnail pop-ups -->
<div id="thumbnail-chart-reveals">
  <div id="thumbnail_li_0_reveal" class="reveal-modal large" data-reveal>
    <div class="thumbnail-container">
      <img class="thumbnail-image-reveal" src="/uploads/refresh_to_load.jpg">
      <h6 class="thumbnail-description"></h6>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <div id="thumbnail_li_1_reveal" class="reveal-modal large" data-reveal>
    <div class="thumbnail-container">
      <img class="thumbnail-image-reveal" src="/uploads/refresh_to_load.jpg">
      <h6 class="thumbnail-description"></h6>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <div id="thumbnail_li_2_reveal" class="reveal-modal large" data-reveal>
    <div class="thumbnail-container">
      <img class="thumbnail-image-reveal" src="/uploads/refresh_to_load.jpg">
      <h6 class="thumbnail-description"></h6>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <div id="thumbnail_li_3_reveal" class="reveal-modal large" data-reveal>
    <div class="thumbnail-container">
      <img class="thumbnail-image-reveal" src="/uploads/refresh_to_load.jpg">
      <h6 class="thumbnail-description"></h6>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
<!-- END: Thumbnail pop-ups -->
