<div class="row">
  <div class="small-12 columns">
    <div id="summary-panel">
      <ul class="summary-panel-block-grid" data-equalizer>

        <li>
          <div class="row valign-middle first">
            <div class="small-6 columns">
              <div class="large-text" data-equalizer-watch>
                <div class="number" id="media-length-number">0</div>
                <div class="unit" id="media-length-unit">min</div>
              </div>
            </div>
            <div class="small-6 columns">
              <div class="small-text" id="media-length-text">Media length across 0 games</div>
            </div>
          </div>
        </li>

        <li>
          <div class="row valign-middle">
            <div class="small-6 columns">
              <div class="large-text" data-equalizer-watch>
                <div class="num-prefix">$</div>
                <div class="number" id="average-be-number">0</div>
                <div class="unit" id="average-be-unit"></div>
              </div>
            </div>
            <div class="small-6 columns">
              <div class="small-text" id="average-be-text">Equivalent TV spot spend</div>
            </div>
          </div>
        </li>

        <li>
          <div class="row valign-middle">
            <div class="small-6 columns">
              <div class="large-text" data-equalizer-watch>
                <div class="number" id="total-ba-number">0</div>
                <div class="unit" id="total-ba-unit">K</div>
              </div>
            </div>
            <div class="small-6 columns">
              <div class="small-text" id="total-ba-text">Total brand detection counts</div>
            </div>
          </div>
        </li>

        <li>
          <div class="row valign-middle last">
            <div class="small-6 columns">
              <div class="large-text" data-equalizer-watch>
                <div class="number" id="average-duration-number">0</div>
                <div class="unit" id="average-duration-unit">sec</div>
              </div>
            </div>
            <div class="small-6 columns">
              <div class="small-text" id="average-duration-text">Average duration per appearance</div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>