<div class="row">
  <div class="small-12 columns">
    <div id="summary-panel">
      <ul class="summary-panel-block-grid" data-equalizer>

        <li>
          <div class="row valign-middle first">
            <div class="small-5 columns">
              <div class="large-text" data-equalizer-watch>
                <div class="number">106</div>
                <div class="unit">hrs</div>
              </div>
            </div>
            <div class="small-7 columns">
              <div class="small-text">Media length across 64 games</div>
            </div>
          </div>
        </li>

        <li>
          <div class="row valign-middle">
            <div class="small-5 columns">
              <div class="large-text" data-equalizer-watch>
                <div class="number">65</div>
                <div class="unit">%</div>
              </div>
            </div>
            <div class="small-7 columns">
              <div class="small-text">Average brand effectiveness</div>
            </div>
          </div>
        </li>

        <li>
          <div class="row valign-middle">
            <div class="small-5 columns">
              <div class="large-text" data-equalizer-watch>
                <div class="number">2.3</div>
                <div class="unit">K</div>
              </div>
            </div>
            <div class="small-7 columns">
              <div class="small-text">Total brand appearances</div>
            </div>
          </div>
        </li>

        <li>
          <div class="row valign-middle last">
            <div class="small-5 columns">
              <div class="large-text" data-equalizer-watch>
                <div class="number">4.2</div>
                <div class="unit">sec</div>
              </div>
            </div>
            <div class="small-7 columns">
              <div class="small-text">Average duration per appearance</div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>