<% breadcrumb :analytics_season_show, @season %>

<div class="row">
  <div class="small-6 medium-3 columns">
	  <div class="panel">Brand Effectiveness</div>
	</div>
  <div class="small-6 medium-3 columns">
	  <div class="panel">Brand Exposure</div>
	</div>
  <div class="small-6 medium-3 columns">
	  <div class="panel">View Duration</div>
	</div>
  <div class="small-6 medium-3 columns">
	  <div class="panel">Brand Count</div>
	</div>
</div>

<div class="row">
  <div class="small-12 large-9 columns">
  	<div class="panel">Brand Effectiveness Line Chart</div>
  </div>
  <div class="small-12 large-3 columns">
  	<div class="panel">Brand Group Selection</div>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
  	<div class="panel">Brand Crowding Bar Chart</div>
  </div>
  <div class="small-6 columns">
  	<div class="panel">Visual Saliency Bar Chart</div>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
  	<div class="panel">Timing Effectiveness Bar Chart</div>
  </div>
  <div class="small-6 columns">
  	<div class="panel">Spatial Effectiveness Bar Chart</div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-4 columns">
  	<div class="panel">Brand Exposure Pie Chart</div>
  </div>
  <div class="small-12 medium-4 columns">
  	<div class="panel">View Duration Pie Chart</div>
  </div>
  <div class="small-12 medium-4 columns">
  	<div class="panel">Brand Count Pie Chart</div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
  	<ul class="small-block-grid-2 medium-block-grid-4">
			<li><div class="panel">Some Representative thumbnails</div></li>
			<li><div class="panel">Some Representative thumbnails</div></li>
			<li><div class="panel">Some Representative thumbnails</div></li>
			<li><div class="panel">Some Representative thumbnails</div></li>
		</ul>  	
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
  	<div class="panel">10-row data table here</div>
  </div>
</div>
