<% breadcrumb :analytics_season_show, @season %>

<script type="text/javascript">
  window.seasonLabelPath = "/api/v1/analytics/seasons/" + <%= @season.id %>;
  window.seasonShowPath = "/api/v1/analytics/seasons/" + <%= @season.id %> + "/data";
</script>

<div class="row">
  <div class="small-6 medium-3 columns">
	  <div class="panel">Brand Effectiveness</div>
	</div>
  <div class="small-6 medium-3 columns">
	  <div class="panel">Brand Exposure</div>
	</div>
  <div class="small-6 medium-3 columns">
	  <div class="panel">View Duration</div>
	</div>
  <div class="small-6 medium-3 columns">
	  <div class="panel">Brand Count</div>
	</div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      <div class="chart-title">Brand Effectiveness Series Chart</div>
      <div id="dc-brand-effectiveness-series-chart"></div>
      <div id="dc-brand-effectiveness-range-chart"></div>
      <div class="hushed-out">Select lower chart to zoom in/out</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
  	<div class="panel" id="dc-brand-crowding-bar-chart">Brand Crowding Bar Chart</div>
  </div>
  <div class="small-6 columns">
  	<div class="panel">
      <div class="chart-title">Visual Saliency Bar Chart</div>
      <div class="button" id="debug_dump">Debug dump</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
  	<div class="panel">Timing Effectiveness Bar Chart</div>
  </div>
  <div class="small-6 columns">
  	<div class="panel">Spatial Effectiveness Bar Chart</div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-4 columns">
  	<div class="panel">Brand Exposure Pie Chart</div>
  </div>
  <div class="small-12 medium-4 columns">
  	<div class="panel">View Duration Pie Chart</div>
  </div>
  <div class="small-12 medium-4 columns">
  	<div class="panel">Brand Count Pie Chart</div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
  	<ul class="small-block-grid-2 medium-block-grid-4">
			<li><div class="panel">Some Representative thumbnails</div></li>
			<li><div class="panel">Some Representative thumbnails</div></li>
			<li><div class="panel">Some Representative thumbnails</div></li>
			<li><div class="panel">Some Representative thumbnails</div></li>
		</ul>  	
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
  	<div class="panel">10-row data table here</div>
  </div>
</div>
