<% breadcrumb :analytics_season_summary, @season %>

<script type="text/javascript">
  window.seasonLabelPath = "/api/v1/analytics/seasons/" + <%= @season.id %>;
  window.seasonShowPath = "/api/v1/analytics/seasons/" + <%= @season.id %> + "/summary";
</script>

<%= render 'summary_panel' %>

<!-- BEGIN: All charts -->
<div class="d3-chart">

<!-- BEGIN: Series chart whole -->
<div class="row">
  <div class="small-12 columns">
    <div class="chart-panel">
      
      <!-- BEGIN: Series chart title bar row -->
      <div class="row">
        <div class="small-12 columns">
          <div class="chart-title clearfix">
            <div class="text left">Brand Effectiveness</div>
            <div class="help right">
              <ul class="button-group radius">
                <li>
                  <span class="button title-button" title="Reset Chart">
                    <i class="fi-refresh" id="brand-effectiveness-series-chart-reset"></i>
                  </span>
                </li>
                <li>
                  <span class="button title-button" title="Help!">
                    <i data-reveal-id="brand-effectiveness-series-chart-info-reveal" class="fi-info" id="brand-effectiveness-series-chart-info"></i>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Series chart title bar row -->
      
      <!-- BEGIN: Series chart row -->
      <div class="row">
        <div class="small-12 columns">
          <div class="chart-content">
            <div class="row">
              <div class="small-12 columns">
                <div id="brand-effectiveness-series-chart"></div>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
              <div id="brand-effectiveness-brush-chart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Series chart row -->

      <!-- BEGIN: Legend row -->
      <div class="row">
        <div class="small-12 columns" id="brand-legend-container-column">
          <div id="brand-legend">

            <!-- BEGIN: Legend normal -->
            <div id="brand-legend-normal">
              <div class="row">                
                <div class="small-7 medium-10 columns">
                    <div class="brand-label-titles">Brand Groups</div>
                    <div id="brand-legend-content">
                      <ul id="brand-legend-content-ul"></ul>
                    </div>
                </div>
                <div class="small-5 medium-2 columns">
                    <div class="brand-label-titles">Chart Tools</div>
                    <ul class="button-group radius stack" id="brand-legend-buttons">
                      <li>
                        <div class="button small expand alert" id="brand-legend-reset-charts">
                          Reset Charts
                        </div>
                      </li>
                      <li>
                        <div class="button small expand" id="brand-legend-update-charts">
                          Update Charts
                        </div>
                      </li>
                      <li>
                        <div class="button small expand success" id="brand-legend-normal-hide">
                          Hide Legend
                        </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
            <!-- END: Legend normal -->

            <!-- BEGIN: Legend hidden -->
            <div id="brand-legend-hidden">
              <div class="row">                
                <div class="small-7 medium-10 columns">
                  <div class="brand-legend-hidden-text">Click to show legend</div>
                </div>
                <div class="small-5 medium-2 columns">
                  <div class="button small radius expand success" id="brand-legend-hidden-show">
                    Show Legend
                  </div>
                </div>
              </div>
            </div>
            <!-- END: Legend hidden -->

          </div>
        </div>
      </div>
      <!-- END: Legend row -->

    </div>
  </div>
</div>
<!-- END: Series chart whole -->

<!-- BEGIN: Bar chart component whole -->
<div class="row">
  <div class="small-12 columns">
    <div class="chart-panel">

      <!-- BEGIN: Bar chart component title bar row -->
      <div class="row">
        <div class="small-12 columns">
          <div class="chart-title clearfix">
            <div class="text left">Brand Effectiveness Components</div>
            <div class="help right">
              <ul class="button-group radius">
                <li>
                  <span class="button title-button" title="Reset Chart">
                    <i class="fi-refresh" id="brand-effectiveness-composite-reset"></i>
                  </span>
                </li>
                <li>
                  <span class="button title-button" title="Help!">
                    <i data-reveal-id="brand-effectiveness-composite-info-reveal" class="fi-info" id="brand-effectiveness-composite-info"></i>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Bar chart component title bar row -->

      <!-- BEGIN: Bar chart component charts row -->
      <div id="brand-effectiveness-composite-row">
        <div class="chart-content">
          <div class="row">
            <div class="small-12 columns">
                <div id="component-bar-chart"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Bar chart component charts row -->

    </div>
  </div>
</div>
<!-- END: Bar chart component whole -->


<div class="row">
  <!-- BEGIN: Brand Count pie chart whole -->
  <div class="small-12 medium-6 large-3 columns">
    <div class="chart-panel">
      <div class="chart-title clearfix">
        <div class="text left">Brand Count</div>
        <div class="help right">
          <ul class="button-group radius">
            <li>
              <span class="button title-button" title="Reset Chart">
                <i class="fi-refresh" id="brand-count-pie-chart-reset"></i>
              </span>
            </li>
            <li>
              <span class="button title-button" title="Help!">
                <i data-reveal-id="brand-count-pie-chart-info-reveal" class="fi-info" id="brand-count-pie-chart-info"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="chart-content">
        <div id="brand-count-pie-chart"></div>
      </div>
    </div>
  </div>
  <!-- END: Brand Count pie chart whole -->

  <!-- BEGIN: View Duration pie chart whole -->
  <div class="small-12 medium-6 large-3 large-push-6 columns">
    <div class="chart-panel">
      <div class="chart-title clearfix">
        <div class="text left">View Duration</div>
        <div class="help right">
          <ul class="button-group radius">
            <li>
              <span class="button title-button" title="Reset Chart">
                <i class="fi-refresh" id="view-duration-pie-chart-reset"></i>
              </span>
            </li>
            <li>
              <span class="button title-button" title="Help!">
                <i data-reveal-id="view-duration-pie-chart-info-reveal" class="fi-info" id="view-duration-pie-chart-info"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="chart-content">
        <div id="view-duration-pie-chart"></div>
      </div>
    </div>
  </div>
  <!-- END: View Duration pie chart whole -->

  <!-- BEGIN: Heatmap chart whole -->
  <div class="small-12 medium-12 large-6 large-pull-3 columns">
    <div class="chart-panel">
      <div class="chart-title clearfix">
        <div class="text left">Spatial Position</div>
        <div class="help right">
          <ul class="button-group radius">
            <li>
              <span class="button title-button" title="Help!">
                <i data-reveal-id="heatmap-chart-info-reveal" class="fi-info" id="heatmap-chart-info"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="chart-content">
        <div id="heatmap-chart"></div>
      </div>
    </div>
  </div>
  <!-- END: Heatmap chart whole -->
</div>

<div class="row">
  <div class="small-12 columns">
    <ul class="small-block-grid-2 medium-block-grid-4">
      <li><div class="panel">Some Representative thumbnails</div></li>
      <li><div class="panel">Some Representative thumbnails</div></li>
      <li><div class="panel">Some Representative thumbnails</div></li>
      <li><div class="panel">Some Representative thumbnails</div></li>
    </ul>   
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="panel">10-row data table here</div>
  </div>
</div>

<div class="button" id="debug_dump">Debug dump</div>

<!-- Help Sections -->
<div id="brand-effectiveness-series-chart-info-reveal" class="reveal-modal large" data-reveal>
  <h3>Brand Effectiveness Chart Help</h3>
  <p class="lead">Your couch.  It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>


</div>
<!-- END: All charts -->
