<div class="analysis-charts">
<div class="row">

<div class="small-12 medium-4 columns">
</div>

<!-- BEGIN: Timeline chart -->
<div class="small-12 medium-8 columns">
  <div class="card">
    <div class="title clearfix">
      <div id="timeline-chart-title" class="text left">Brand Effectiveness</div>
      <div class="right">
        <span id="reset-timeline-charts" class="button radius title-button title-button-unselected" title="Reset Chart">
          <i class="fi-refresh"></i>
        </span>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="small-12 columns">
          <div id="timeline-chart"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="brush-chart" id="brush-bar"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="calendar-chart" id="calendar-bar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Timeline chart -->

</div>
</div>
