<!-- BEGIN: All charts -->
<div class="analysis-charts">

<!-- BEGIN: Row 1 -->
<div class="row" id="row-1">

<!-- BEGIN: Summary panels -->
<div class="small-12 medium-4 columns">
  <div class="card">
    <div class="title clearfix">
      <div class="text left">Summary</div>
      <div class="right">
      </div>
    </div>
    <div class="content">
      <!-- BEGIN: Summary graphs -->
      <div class="row">
        <div class="small-6 columns">
          <div id="summary-chart-1"></div>
        </div>
        <div class="small-6 columns">
          <div id="summary-chart-2"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <div id="summary-chart-3"></div>
        </div>
        <div class="small-6 columns">
          <div id="summary-chart-4"></div>
        </div>
      </div>
      <!-- END: Summary graphs -->
    </div>
  </div>
</div>
<!-- END: Summary panels -->


<!-- BEGIN: Average Brand Effectiveness chart -->
<div class="small-12 medium-8 columns">
  <div class="card">
    <div class="title clearfix">
      <div id="timeline-chart-title" class="text left">Average Brand Effectiveness</div>
      <div class="right">
      </div>
    </div>
    <div class="content">
      <div id="average-brand-effectiveness-bar-chart"></div>
    </div>
  </div>
</div>
<!-- END: Average Brand Effectiveness chart -->

<!-- END: Row 1 -->
</div>

<!-- BEGIN: Row 2 & 3 -->
<div class="row" id="row-2">

<!-- BEGIN: Filter -->
<div class="small-12 medium-3 columns">
  <div class="card">
    <div class="title clearfix">
      <div class="text left">Filter</div>
      <div class="right">
        <span id="change-filter" class="button radius title-button title-button-unselected" title="Change Filter">
          <i class="fi-widget"></i>
        </span>
      </div>
    </div>
    <div class="content">

<div id="filter-items">
  <!-- BEGIN: Filter - Date -->
  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 columns">
          <div class="filter-title">Selection Date</div>
        </div>
        <div class="small-12 columns">
          <div class="filter-content">
            11/2/2015 - 11/3/2015 (24 hours)
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Filter - Date -->
  <!-- BEGIN: Filter - Brand Group -->
  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 columns">
          <div class="filter-title">Brand Groups</div>
        </div>
        <div class="small-12 columns">
          <div class="filter-content">
            <ul class="small-block-grid-1 large-block-grid-2" id="brand-groups-ul"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Filter - Brand Group -->
  <!-- BEGIN: Filter - Channel -->
  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 columns">
          <div class="filter-title">Channels</div>
        </div>
        <div class="small-12 columns">
          <div class="filter-content">
            <ul class="small-block-grid-1 large-block-grid-2" id="channels-ul"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Filter - Channel -->
  <!-- BEGIN: Filter - Sport -->
  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 columns">
          <div class="filter-title">Sports</div>
        </div>
        <div class="small-12 columns">
          <div class="filter-content">
            <ul class="small-block-grid-1 large-block-grid-2" id="sports-ul"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Filter - Sport -->
</div>

    </div>
  </div>
</div>
<!-- END: Filter -->


<!-- BEGIN: TV Spot by Channel chart -->
<div class="small-6 medium-4 columns">
  <div class="card">
    <div class="title clearfix">
      <div class="text left">TV Spot (By Channel)</div>
      <div class="right">
      </div>
    </div>
    <div class="content">
      <div id="tv-spot-chart"></div>
    </div>
  </div>
</div>
<!-- END: TV Spot by Channel chart -->


<!-- BEGIN: TV Spot by Sport chart -->
<div class="small-6 medium-5 columns">
  <div class="card">
    <div class="title clearfix">
      <div class="text left">TV Spot (By Sport)</div>
      <div class="right">
      </div>
    </div>
    <div class="content">
      <div id="view-duration-chart"></div>
    </div>
  </div>
</div>
<!-- END: TV Spot by Sport chart -->

</div>
<!-- END: Row 2 & 3 -->

</div>
<!-- END: All charts -->
