<div class="row">
  <div class="small-12 columns">
    <ul class="small-block-grid-2 medium-block-grid-4">
      <li>
        <div class="summary-panel">
          <header>Brand Visibility</header>
          <div class="row">
            <div class="small-8 columns">
              <div class="row">
                <div class="small-12 columns">
                  <h2>38</h2>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <p>minutes out of <strong>106</strong> hours of video</p>
                </div>
              </div>
            </div>
            <div class="small-4 columns">
              <div class="chart" data-percent="73"></div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="summary-panel">
          <header>View Duration</header>
          <div class="row">
            <div class="small-8 columns">
              <div class="row">
                <div class="small-12 columns">
                  <h2>4.2</h2>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <p>seconds per brand appearance</p>
                </div>
              </div>
            </div>
            <div class="small-4 columns">
              <div class="chart" data-percent="22"></div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="summary-panel">
          <header>Visual Saliency</header>
          <div class="row">
            <div class="small-8 columns">
              <div class="row">
                <div class="small-12 columns">
                  <h2>75%</h2>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <p>when brand visible in video</p>
                </div>
              </div>
            </div>
            <div class="small-4 columns">
              <div class="chart" data-percent="75"></div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="summary-panel">
          <header>Some Metrics</header>
          <div class="row">
            <div class="small-8 columns">
              <div class="row">
                <div class="small-12 columns">
                  <h2>75%</h2>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <p>when brand visible in video</p>
                </div>
              </div>
            </div>
            <div class="small-4 columns">
              <div class="chart" data-percent="75"></div>
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <ul>
      <div class="long-space"></div>
    </ul>
  </div>
</div>
