
@mixin responsive-chart-label-size(){
  // line-height: 100%;
  @media #{$small-only} {
    font-size: rem-calc(10);
  }
  @media #{$medium-up} {
    font-size: rem-calc(12);
  }
}


.analysis-charts {
  //---------------------------------------------------
  // general
  svg {
    display: block;
  }

  path, line {
    fill:none;
    stroke: black;
    stroke-width: 1px;
  }

  @include responsive-chart-label-size();

  // common elements
  .axis {
    -moz-user-select: none;
    pointer-events: none;
    font-size: rem-calc(10);
    fill: black;

    path, line {
      shape-rendering: crispedges;
    }
  }

  .axis-label {
    text-transform: uppercase;
    @include responsive-chart-label-size();
  }


  // pattern for selected
  #pattern line {
    fill: white;
    stroke: white;
    stroke-linecap: square;
    stroke-linejoin: miter;
    stroke-width: 13px;
  }
  #pattern-mask line {
    fill: white;
    stroke: white;
    stroke-linecap: square;
    stroke-linejoin: miter;
    stroke-width: 2px;
  }

  //---------------------------------------------------
  // stacked bar chart
  .stacked-bar-chart {
    .axis.x {
      .tick{
        display: none;
      }
    }
    .line {
      opacity: 0.5;
      pointer-events: none;
    }
    .label-text {
      text-transform: uppercase;
    }
  }

  //---------------------------------------------------
  // stacked column chart
  .stacked-column-chart {
    .axis.y {
      text{
        text-transform: uppercase;
        @include responsive-chart-label-size();
      }
    }
    .label-text {
      text-transform: uppercase;
    }
  }

  //---------------------------------------------------
  // multi-bar-chart
  .multi-bar-chart {
  }

  //---------------------------------------------------
  // summary pie chart
  .pie-chart {
    path, line {
      stroke: none;
    }
  }
  .pie-chart-texts{
    .pc-text {
      font-weight: bold;
      fill: $summary-pc-text-color;
      @media #{$small-only} and (orientation: portrait) { font-size: rem-calc(20); }
      @media #{$small-only} and (orientation: landscape) { font-size: rem-calc(25); }
      @media #{$medium-only} { font-size: rem-calc(20); }
      @media #{$large-up} { font-size: rem-calc(25); }
    }
    .pc-unit {
      fill: $summary-pc-unit-color;
      @media #{$small-only} and (orientation: portrait) { font-size: rem-calc(10); }
      @media #{$small-only} and (orientation: landscape) { font-size: rem-calc(14); }
      @media #{$medium-only} { font-size: rem-calc(12); }
      @media #{$large-up} { font-size: rem-calc(14); }
    }
    .pc-label {
      font-weight: bold;
      text-transform: uppercase;
      fill: $summary-pc-label-color;
      @media #{$small-only} and (orientation: portrait) { font-size: rem-calc(10); }
      @media #{$small-only} and (orientation: landscape) { font-size: rem-calc(14); }
      @media #{$medium-only} { font-size: rem-calc(11); }
      @media #{$large-up} { font-size: rem-calc(14); }
    }
  }

  //---------------------------------------------------
  // filter
  #filter-items {
    .filter-title {
      font-size: rem-calc(14);
      font-weight: bold;
      color: $chart-text-primary-color;
      line-height: 100%;
      margin-bottom: 0.15rem;
      border-bottom: 2px solid $chart-text-primary-color;
    }

    .filter-content {
      padding: 0px 10px 10px 10px;
      line-height: 100%;

      li {
        list-style-type: none;
        padding-bottom: 0px;
        line-height: 100%;

        .square {
          display: inline-block;
          width: rem-calc(14);
          height: rem-calc(14);
          margin: 0 5px 0 -5px;
          vertical-align: middle;
          border: 1px solid black;
        }
        .text {
          font-size: rem-calc(12);
          color: $chart-text-primary-color;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  //---------------------------------------------------
  // calendar chart
  .calendar-chart {
    cursor: pointer;

    .cal-rects {
      rect{
        fill: white;

        stroke: $chart-text-primary-color;
        stroke-width: 1px;
        stroke-opacity: 1.0;
        shape-rendering: crispedges;
      }

      text {
        font-size: rem-calc(12);
        fill: $chart-text-primary-color;
        opacity: 0.9;
        stroke: none;
        pointer-events: none;
      }
      text.disabled {
        fill: scale-color($chart-text-primary-color, $lightness: 25%);
      }
    }

    .cal-rects:hover {
      rect {
        fill: $panel-border-color;
      }
    }

    .cal-rects.current {
      rect {
        fill: scale-color($primary-color, $lightness: 85%);
      }

      text {
        font-weight: bold;
        opacity: 1.0;
      }
      text.disabled {
        fill: scale-color($chart-text-primary-color, $lightness: 25%);
      }
    }
  }
}
