$chart-panel-rounded-corner-radius: $global-radius;

$chart-panel-label-title-color: $oil;
$chart-panel-footer-color: $oil;

$chart-panel-border-color: $zigvu-footer-background-color;
$chart-panel-border-color-light: $panel-border-color;

$chart-panel-legend-box-color: scale-color($chart-panel-border-color-light, $lightness: 85%);

$chart-series-bg-bar-opacity: 0.1;
$chart-series-bg-stroke-opacity: 0.5;
$chart-range-bg-bar-color: $chart-panel-border-color-light;
$chart-range-bg-stroke-color: scale-color($chart-panel-border-color, $lightness: 50%);
$chart-range-bg-bar-opacity: 0.5;

$chart-game-selection-bar-opacity: 0.1;
$chart-game-selection-bar-opacity-hover: 0.3;

$pc-text-color: $steel;
$pc-unit-color: $warning-color;
$pc-label-color: $steel;

.d3-chart {

	svg {
		display: block;
	}

	@media #{$small-only} {
		font-size: rem-calc(10);
	}
	@media #{$medium-up} {
		font-size: rem-calc(12);
	}

	// common elements
	.axis-label {
		line-height: 80%;
		text-transform: uppercase;

		@media #{$small-only} {
			font-size: rem-calc(10);
		}
		@media #{$medium-up} {
			font-size: rem-calc(12);
		}
	}

	.x-axis-time-label {
		line-height: 80%;
	}

	.axis {
		-moz-user-select: none;
		pointer-events: none;
		font-size: rem-calc(10);
		fill: black;

		path, line {
			fill: none;
			stroke: #000;
			stroke-width: 1px;
			shape-rendering: crispedges;
		}
	}

	path {
		fill:none;
		stroke-width: 1.5px;
	}

	// pattern for selected
	#pattern line {
		fill: white;
		stroke: white;
		stroke-linecap: square;
		stroke-linejoin: miter;
		stroke-width: 13px;
	}
	#pattern-mask line {
		fill: white;
		stroke: white;
		stroke-linecap: square;
		stroke-linejoin: miter;
		stroke-width: 2px;
	}

	// multi-series chart
	.multi-line-chart {
		path {
			pointer-events: none;
		}
		.game-bg-rect {
			rect {
				stroke: black;
				stroke-width: 1px;
				stroke-opacity: $chart-series-bg-stroke-opacity;
				shape-rendering: crispedges;
				opacity: $chart-series-bg-bar-opacity;
			}
			text {
				fill: black;
				opacity: 0.9;
				pointer-events: none;
			}
		}
		.mouse-tracking-svg {
			line {
				stroke: blue;
				stroke-width: 1px;
				stroke-opacity: 0.5;
				stroke-dasharray: 3, 3;
				shape-rendering: crispedges;
			}
		}
		.game-event-svg {
			line {
				shape-rendering: crispedges;
			}
			
			line.gameEventLineLong {
				stroke: $chart-panel-label-title-color;
				stroke-width: 1px;
				stroke-opacity: 0.8;
				stroke-dasharray: 10, 5;
			}
			
			line.gameEventLineShort {
				stroke: red;
				stroke-width: 3px;
			}

			text {
				font-size: rem-calc(12);
				fill: $chart-panel-label-title-color;
				opacity: 0.9;
				pointer-events: none;
			}
		}
	}

	// brush chart
	.brush-chart {
		rect.bg-rect {
			fill: scale-color($chart-range-bg-bar-color, $lightness: 80%);
			stroke: $chart-range-bg-stroke-color;
			stroke-width: 1px;
		}

		path {
			stroke-width: 1px;
			pointer-events: none;
		}

		.brush .extent {
			fill-opacity: $chart-range-bg-bar-opacity;
			stroke: $chart-range-bg-bar-color;
			stroke-width: 1px;
			shape-rendering: crispedges;
		}
	}

	// subseason chart
	.game-selection-chart {
		cursor: pointer;

		text {
			font-size: rem-calc(12);
			fill: black;
			opacity: 0.9;
			pointer-events: none;
		}

		text.selected{
			font-size: rem-calc(14);
			font-weight: bold;
			opacity: 1.0;
		}

		.sub-season-border, .background-rect {
			fill: none;

			stroke: black;
			stroke-width: 1px;
			stroke-opacity: 1.0;
			shape-rendering: crispedges;
		}

		.sub-season-rect {
			fill: white;
			opacity: 0;
		}

		.game-rect {
			opacity: $chart-game-selection-bar-opacity;

			stroke: black;
			stroke-width: 1px;
			shape-rendering: crispedges;
		}

		.game-rect:hover {
			opacity: $chart-game-selection-bar-opacity-hover;
		}

		.game-overlay {
			fill: blue;
			opacity: 0.05;
		}
		.game-overlay:hover {
			opacity: 0.2;
		}

	}

	// multi bar chart and be bar chart
	.bar-chart-svg {
		.component-rects {
			stroke: white;
			stroke-width: 1px;
			shape-rendering: crispedges;

			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}

		.component-rects:hover {
			stroke: black;
		}
	}

	// pie chart
	.pie-chart-texts{
		.pc-text {
			font-weight: bold;
			fill: $pc-text-color;
			@media #{$small-only} and (orientation: portrait) { font-size: rem-calc(20); }
			@media #{$small-only} and (orientation: landscape) { font-size: rem-calc(25); }
			@media #{$medium-only} { font-size: rem-calc(20); }
			@media #{$large-up} { font-size: rem-calc(25); }
		}
		.pc-unit {
			fill: $pc-unit-color;
			@media #{$small-only} and (orientation: portrait) { font-size: rem-calc(10); }
			@media #{$small-only} and (orientation: landscape) { font-size: rem-calc(14); }
			@media #{$medium-only} { font-size: rem-calc(12); }
			@media #{$large-up} { font-size: rem-calc(14); }
		}
		.pc-label {
			font-weight: bold;
			text-transform: uppercase;
			fill: $pc-label-color;
			@media #{$small-only} and (orientation: portrait) { font-size: rem-calc(10); }
			@media #{$small-only} and (orientation: landscape) { font-size: rem-calc(14); }
			@media #{$medium-only} { font-size: rem-calc(11); }
			@media #{$large-up} { font-size: rem-calc(14); }
		}
	}


	// heatmap chart
	.heatmap-chart{
		rect {
			opacity: 0.9;
		}

		.quadrant-svg{
			rect {
				stroke: white;
				stroke-width: 1px;

				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			}

			rect:hover {
				stroke: black;
			}

			.selected {
				stroke: red;
			}
		}

		text.legend {
			font-size: rem-calc(9);
			fill: $chart-panel-label-title-color;
		}		
	}


	// thumbnail chart
	#thumbnail-chart {
		.thumbnail-description {
			margin-left: 2px;
			margin-top: 10px;

			font-size: rem-calc(12);
			color: $chart-panel-footer-color;

			b {
				float: left;
				margin-right: 5px;
			}
		}

		// gray out thumbnail
		#thumbnail-chart-refresh {
			position: absolute;
			cursor: pointer;
			z-index: 1;

			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;

			color: black;
			font-size: rem-calc(32);
			font-weight: bold;

			display: flex;
			justify-content: center;
			align-items: center;

			background-color: white;
			opacity: 0.8;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}
// end: .d3-chart

// pop-up: needs to exist in body namespace
.thumbnail-container{
	font-size: rem-calc(12);
	color: $chart-panel-footer-color;
	line-height: 120%;
	padding: 10px;

	b {
		float: left;
		margin-right: 5px;
	}
	.thumbnail-image-reveal {
		padding-bottom: 5px;
	}
}
	

.card {
	background: $white;
	border: 0px none;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: $column-gutter;
	min-height: 200px;

	.title {
		// padding: 1px 3px 1px 1px;
		border-bottom: 4px solid $chart-panel-border-color-light;

		.text {
			font-size: 1rem;
			font-weight: 600;
			font-variant: small-caps;

			padding: 0.25rem;
		}

		.title-button {
			font-size: 1.5rem;
			font-weight: 600;
			margin: 0;
			padding: 0.1rem 1rem;
			background: $white;
		}
		.title-button:hover, .title-button:focus {
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
			background: $chart-panel-border-color-light;
		}
		.title-button-unselected {
			color: $chart-panel-border-color-light;
		}
		.title-button-unselected:hover, .title-button-unselected:focus {
			color: $black;
		}
		.title-button-selected {
			color: #2daebf;
		}
		.title-button-selected:hover, .title-button-selected:focus {
			color: #e33100;
		}

	}

	.content {
		padding: 1rem;
	}
}


#brand-legend {
	border: 1px solid $chart-panel-border-color-light;
	-webkit-border-radius: $chart-panel-rounded-corner-radius;
	-moz-border-radius: $chart-panel-rounded-corner-radius;
	border-radius: $chart-panel-rounded-corner-radius;

	background: none repeat scroll 0 0 $chart-panel-legend-box-color;
	padding: 0.25rem;
	margin-top: 0.5rem;
	height: 100%;
	z-index: 9999;

	.brand-label-titles {
		font-size: rem-calc(14);
		font-weight: bold;
		color: $chart-panel-label-title-color;
		padding: 0 0.5rem 0 0.5rem;
		margin-bottom: 0.15rem;
		border-bottom: 2px solid $chart-panel-label-title-color;
	}

	.settings-button {
		margin: 0;
		padding: 0 10px 0 10px;
		cursor: pointer;

		color: #2daebf;
		font-size: 1.5rem;
		text-shadow: 1px 4px 6px #fff, 0 0 0 #000, 1px 4px 6px #fff;
	}
	.settings-button:hover, .settings-button:focus {
		color: #e33100;

		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	#brand-legend-content {
		padding: 0px 10px 0px 10px;

		li {
			list-style-type: none;
			padding-bottom: 0px;
			line-height: 1.2;

			.square {
				display: inline-block;
				width: rem-calc(14);
				height: rem-calc(14);
				margin: 0 5px 0 -5px;
				vertical-align: middle;
			}
			.text {
				font-size: rem-calc(12);
				color: $chart-panel-footer-color;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}

// pop-up: needs to exist in body namespace
#brand-group-update {
	ul {
		margin-bottom: 0;
	}
	td {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.button {
		margin-bottom: 0;
	}

	.alert-brand-group-max {
		color: red;
	}
}
