$chart-panel-rounded-corner-radius: $global-radius;

$chart-panel-label-title-color: $oil;
$chart-panel-footer-color: $oil;

$chart-panel-border-color: $zigvu-footer-background-color;
$chart-panel-border-color-light: $panel-border-color;

$chart-panel-legend-box-color: scale-color($chart-panel-border-color-light, $lightness: 85%);

$chart-series-bg-bar-opacity: 0.1;
$chart-series-bg-stroke-opacity: 0.5;
$chart-range-bg-bar-color: $chart-panel-border-color-light;
$chart-range-bg-stroke-color: scale-color($chart-panel-border-color, $lightness: 50%);
$chart-range-bg-bar-opacity: 0.5;

$chart-game-selection-bar-opacity: $chart-series-bg-bar-opacity;
$chart-game-selection-bar-opacity-hover: 0.5;

$chart-table-row-color-hover: #CBC6F7;

.d3-chart {
	// common elements
	.axis-label {
		text-transform: uppercase;
		line-height: 80%;
		font-size: rem-calc(12);
	}

	.x-axis-time-label {
		line-height: 80%;
		font-size: rem-calc(12);
	}

	.axis {
		-moz-user-select: none;
		pointer-events: none;
		font: 10px sans-serif;
		fill: black;

		path, line {
			fill: none;
			stroke: #000;
			stroke-width: 1px;
			shape-rendering: crispedges;
		}
	}

	path {
		fill:none;
		stroke-width: 1.5px;
	}

	// multi-series chart
	.multi-line-chart {
		path {
			pointer-events: none;
		}
		.game-bg-rect {
			rect {
				stroke: black;
				stroke-width: 1px;
				stroke-opacity: $chart-series-bg-stroke-opacity;
				shape-rendering: crispedges;
				opacity: $chart-series-bg-bar-opacity;
			}
			text {
				font-size: rem-calc(12);
				fill: black;
				opacity: 0.9;
				pointer-events: none;
			}
		}
		.mouse-tracking-svg {
			line {
				stroke: blue;
				stroke-width: 1px;
				stroke-opacity: 0.5;
				stroke-dasharray: 3, 3;
				shape-rendering: crispedges;
			}
		}
		.game-event-svg {
			line {
				shape-rendering: crispedges;
			}
			
			line.gameEventLineLong {
				stroke: $chart-panel-label-title-color;
				stroke-width: 1px;
				stroke-opacity: 0.8;
				stroke-dasharray: 10, 5;
			}
			
			line.gameEventLineShort {
				stroke: red;
				stroke-width: 3px;
			}

			text {
				font-size: rem-calc(12);
				fill: $chart-panel-label-title-color;
				opacity: 0.9;
				pointer-events: none;
			}
		}
	}

	// brush chart
	.brush-chart {
		rect.bg-rect {
			fill: scale-color($chart-range-bg-bar-color, $lightness: 80%);
			stroke: $chart-range-bg-stroke-color;
			stroke-width: 1px;
		}

		path {
			stroke-width: 1px;
			pointer-events: none;
		}

		.brush .extent {
			fill-opacity: $chart-range-bg-bar-opacity;
			stroke: $chart-range-bg-bar-color;
			stroke-width: 1px;
			shape-rendering: crispedges;
		}
	}

	// subseason chart
	.game-selection-chart {
		cursor: pointer;

		.load-reset-button {
			rect {
				fill: black;
				fill-opacity: 0.70;

				stroke: black;
				stroke-width: 4px;
				stroke-opacity: 0.30;
			}

			rect:hover {
				stroke-opacity: 0.40;
				fill-opacity: 0.90;
			}

			rect.reset {
				fill: red;
			}

			text {
				font-size: rem-calc(12);
				font-weight:bold;
				fill: white;
				pointer-events: none;
			}
		}

		rect.background-rect {
			fill: white;

			stroke: black;
			stroke-width: 1px;
			stroke-opacity: $chart-game-selection-bar-opacity;
			shape-rendering: crispedges;
		}

		rect.bar {
			stroke: black;
			stroke-width: 1px;
			shape-rendering: crispedges;
			opacity: $chart-game-selection-bar-opacity;

			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}

		rect.bar:hover {
			stroke: red;
			opacity: $chart-game-selection-bar-opacity-hover;
		}

		rect.bar.selected {
			stroke: red;
			opacity: 1.00;
		}

		rect#blocking-rect {
			fill: white;
			opacity: 0.9;

			stroke: black;
			stroke-width: 1px;
			stroke-opacity: $chart-game-selection-bar-opacity;
			shape-rendering: crispedges;
		}

		text {
			// text-transform: uppercase;
			font-size: rem-calc(12);
			fill: black;
			opacity: 0.9;
			pointer-events: none;
		}
	}

	// multi bar chart
	.bar-chart-svg {
		.x.axis {
			text {
				text-transform: uppercase;
				line-height: 80%;
				font-size: rem-calc(12);
			}
		}

		rect {
			stroke: white;
			stroke-width: 1px;
			shape-rendering: crispedges;

			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}

		rect:hover {
			stroke: black;
		}

		rect.selected {
			stroke: red;
		}
	}

	// pie chart
	.pie-chart {
		.arc {
			text {
				line-height: 80%;
				font-size: rem-calc(12);
				pointer-events: none;
			}
			path {
				stroke: white;
				//stroke-width: 1px;
				//shape-rendering: crispedges; // does not render well

				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			}
			path:hover {
				stroke: black;
			}
		}
	}

	// heatmap chart
	.heatmap-chart{
		rect {
			opacity: 0.9;
		}

		.quadrant-svg{
			rect {
				stroke: white;
				stroke-width: 1px;

				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			}

			rect:hover {
				stroke: black;
			}

			.selected {
				stroke: red;
			}
		}

		text.legend {
			font-size: rem-calc(9);
			fill: $chart-panel-label-title-color;
		}		
	}

	// table chart
	.table-chart{
		tbody {
			tr:hover { background: $chart-table-row-color-hover; } 
		}
	}

	// thumbnail chart
	// note : thumbnail-image-reveal : needs to exist in body name space

	// gray out thumbnail
	#thumbnail-chart-refresh {
		position: absolute;
		cursor: pointer;

		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;

		color: black;
		font-size: rem-calc(32);
		font-weight: bold;

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: white;
		opacity: 0.7;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.thumbnail-image-reveal {
	padding: 10px;
}

#brand-legend {
	border: 1px solid $chart-panel-border-color-light;
	-webkit-border-radius: $chart-panel-rounded-corner-radius;
	-moz-border-radius: $chart-panel-rounded-corner-radius;
	border-radius: $chart-panel-rounded-corner-radius;

	background: none repeat scroll 0 0 $chart-panel-legend-box-color;
	padding: 0.25rem;
	z-index: 9999;

	.brand-label-titles {
		font-size: rem-calc(14);
		font-weight: bold;
		color: $chart-panel-label-title-color;
		padding: 0 0.5rem 0 0.5rem;
		margin-bottom: 0.25rem;
		border-bottom: 2px solid $chart-panel-label-title-color;
	}

	#brand-legend-hidden {
		display: none;
		.brand-legend-hidden-text {
			font-size: rem-calc(14);
			font-style: oblique;
		}
	}

	.button {
		margin: 0;
		padding: 0.4rem;
	}

	#brand-legend-content {
		@media #{$medium-up} {
			-webkit-column-count:3;   
			-moz-column-count:3;
			-ms-column-count:3;
			-o-column-count:3;
			column-count:3;
			-webkit-column-gap:15px;   
			-moz-column-gap:15px;
			-ms-column-gap:15px;
			-o-column-gap:15px;
			column-gap:15px;
			columns:3;
		}
		@media #{$medium-only} and (orientation: portrait) {
			-webkit-column-count:2;   
			-moz-column-count:2;
			-ms-column-count:2;
			-o-column-count:2;
			column-count:2;
			-webkit-column-gap:10px;   
			-moz-column-gap:10px;
			-ms-column-gap:10px;
			-o-column-gap:10px;
			column-gap:10px;
			columns:2;
		}

		li {
			list-style-type: none;
			.square {
				display: inline-block;
				width: rem-calc(14);
				height: rem-calc(14);
				margin: 0 5px 0 -5px;
				vertical-align: middle;
			}
			.text {
				font-size: rem-calc(12);
				color: $chart-panel-footer-color;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}

.chart-panel {
	border: 1px solid $chart-panel-border-color;
	margin-bottom: 1.25rem;

	-webkit-border-radius: $chart-panel-rounded-corner-radius;
	-moz-border-radius: $chart-panel-rounded-corner-radius;
	border-radius: $chart-panel-rounded-corner-radius;

	.chart-title {
		padding: 1px 3px 1px 1px;
		border-bottom: 4px solid $chart-panel-border-color-light;
		-webkit-border-top-left-radius: $chart-panel-rounded-corner-radius;
		-webkit-border-top-right-radius: $chart-panel-rounded-corner-radius;
		-moz-border-radius-topleft: $chart-panel-rounded-corner-radius;
		-moz-border-radius-topright: $chart-panel-rounded-corner-radius;
		border-top-left-radius: $chart-panel-rounded-corner-radius;
		border-top-right-radius: $chart-panel-rounded-corner-radius;

		.text {
			padding: 0.25rem;
			font-weight: 600;
			font-variant: small-caps;
		}

		.help {
			font-size: rem-calc(16);
			font-weight: 600;

			.title-button {
				margin: 0;
				padding: 0.4rem 1rem 0.4rem 1rem;
			}
		}
	}

	.chart-content {
		padding: 1.25rem 1.25rem 0 1.25rem;
	}

	.dc-chart {
		width: 100%;
		text-align: center;
	}
}
