// ------------------------------------
// Content helpers
.row-top-spacer {
  margin-top: $column-gutter;  
}

td {
	vertical-align: text-top;
}

.valign-middle {
	display: table;

	> .columns {
		display: table-cell;
		vertical-align: middle;
	}

	> .columns, > [class*="column"] + [class*="column"]:last-child {
		float: none;
	}
}

// ------------------------------------
// Footer
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

footer {
	background: none repeat scroll 0 0 $zigvu-footer-background-color;
	padding: 1.5rem 0 2.5rem;

	li {
		color: $zigvu-footer-link-color;
		display: block;
		float: left;
		font-size: 0.8rem;
		font-weight: 700;
		margin-left: .7rem;
		text-transform: uppercase;
		a {
			color: $zigvu-footer-link-color;
			&:link, &:visited {
				color: $zigvu-footer-link-color;
			}
			
			&:hover, &:active {
				color: $zigvu-footer-link-hover-color;
			}
		}
	}

	.footer-copyright {
		margin-left: 1.875rem;
		font-size: rem-calc(12);
		color: $zigvu-footer-link-color;
	}
}

// Spinners
#spinner-overlay {
  position: absolute;
  top:0;
  left:0;
  min-width:400px;
  min-height:400px;
  z-index:998;
  background-color: Black;

  opacity: .8;
  display: none;

  border-radius: 10px;
}

#spinner-popup {
  position: absolute;
  min-width:400px;
  min-height:400px;
  z-index: 999;

  display: none;
}
