<% breadcrumb :season, @season %>

<p>
  <strong>Season Name:</strong>
  <%= @season.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @season.description %>
</p>

<p>
  <strong>Games:</strong>
  <%= render '/sprt/games/index_table' %>
</p>

<%= link_to 'Cancel', sprt_league_path(@season.league), class: "button alert" %>
