@import 'foundation_and_overrides';


$summary-panel-rounded-corner-radius: $global-radius;

$summary-panel-contrast-color: $zigvu-footer-background-color;
$summary-panel-large-text-number-color: $white;
$summary-panel-large-text-unit-color: $warning-color;

#summary-panel {
	margin-bottom: 1.25rem;

	.summary-panel-block-grid {
		@media #{$small-only} and (orientation: portrait) {
			@include block-grid($per-row: 2, $spacing: 0, $base-style: true);
		}
		@media #{$small-only} and (orientation: landscape) {
			@include block-grid($per-row: 4, $spacing: 0, $base-style: true);
		}
		@media #{$medium-up} {
			@include block-grid($per-row: 4, $spacing: 0, $base-style: true);
		}
	}

	li {
		.columns, .row {
			padding: 0;
		}
		.row {
			@media #{$small-only} and (orientation: portrait) {
				margin: 0rem 0.25rem 0rem 0.25rem;
			}
			@media #{$small-only} and (orientation: landscape) {
				margin: 0rem 0.5rem 0rem 0.5rem;
			}
			@media #{$medium-up} {
				margin: 0rem 0.5rem 0rem 0.5rem;
			}
			
			border: 1px solid $summary-panel-contrast-color;
			-webkit-border-radius: $summary-panel-rounded-corner-radius;
			-moz-border-radius: $summary-panel-rounded-corner-radius;
			border-radius: $summary-panel-rounded-corner-radius;
		}

		// override for first and last
		@media #{$small-only} {
			margin-bottom: 1rem;
		}
		@media #{$medium-up} {
			.first { margin: 0rem 0.5rem 0rem 0rem;	}
			.last { margin: 0rem 0rem 0rem 0.5rem; }
		}

	}

	.large-text{
		padding: 0.75rem 0.25rem 0.75rem 0.25rem;
		background-color: $summary-panel-contrast-color;

		text-align: center !important;
    font-weight: bold;
    .number {
    	display: inline;
    	color: $summary-panel-large-text-number-color;
			@media #{$small-only} { font-size: rem-calc(14); }
			@media #{$medium-only} { font-size: rem-calc(20); }
			@media #{$large-up} { font-size: rem-calc(28); }
    }
    .unit {
    	display: inline;
    	color: $summary-panel-large-text-unit-color;
			@media #{$small-only} { font-size: rem-calc(10); }
			@media #{$medium-only} { font-size: rem-calc(12); }
			@media #{$large-up} { font-size: rem-calc(18); }
    }
	}

	.small-text {
		margin: 0rem 0.5rem 0rem 0.5rem;

    font-weight: normal;
    line-height: 1;
    text-rendering: optimizelegibility;

		@media #{$medium-up} { font-size: rem-calc(14); }
		@media #{$small-only} { font-size: rem-calc(10); }
	}
}