<% breadcrumb :event_type, @event_type %>

<p>
  <strong>Event Type Name:</strong>
  <%= @event_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event_type.description %>
</p>

<%= link_to 'Cancel', sprt_sport_path(@event_type.sport), class: "button alert" %>
