<!-- BEGIN: Footer Content -->
<div class="row">
  <div class="medium-3 push-9 show-for-medium-up columns">
    <ul class="footer-links">
      <li><a href="mailto:support@zigvu.com">Contact Support</a></li>
    </ul>
  </div>
  <div class="medium-9 pull-3 columns">
    <p class="footer-copyright">&copy; <%= DateTime.now.year %> Zigvu, Inc. All rights reserved.</p>
  </div>
</div>
<!-- END: Footer Content -->
