<!-- BEGIN: Logo -->
<div id="zigvu-logo">
  <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="90%" height="90%" viewBox="0 0 90.000001 32.000001" preserveAspectRatio="xMidYMid meet" version="1.1">
    <g id="z-stylized" transform="translate(0,-1020.3622)">
      <g transform="translate(-12,440.00004)">
        <path transform="translate(0,552.36216)" id="z-stylized-1" d="m 12,27.999998 24,8.000001 0,8 -24,-8.000001 z"/>
        <path transform="translate(0,552.36216)" id="z-stylized-2" d="m 12,51.999998 24,-8 0,-7.999999 -24,8 z"/>
        <path id="z-stylized-3" d="m 12,596.36216 24,8 0,8 -24,-8 z"/>
      </g>
    </g>
    <g id="text-objects">
      <g transform="scale(1.0167605,0.98351578)">
        <path d="m 26.554925,24.940042 0,-18.4193315 5.445131,0 0,18.4193315 -5.445131,0 z m 0,-20.6041063 0,-4.3359376446015 5.445131,0 0,4.3359376446015 -5.445131,0 z"/>
        <path d="m 48.268225,32.536336 -10.991098,0 -3.630087,-5.411519 11.932232,0 0,-2.184775 -8.134085,0 q -1.109193,0 -1.915879,-0.806686 -0.806687,-0.806686 -0.806687,-1.915879 l 0,-9.209666 5.445131,0 0,6.520712 5.41152,0 0,-7.596293 -10.856651,0 0,-2.7225659 q 0,-1.0755815 0.806687,-1.8822675 0.806686,-0.8066861 1.915879,-0.8066861 l 13.545604,0 0,23.2930605 q 0,1.109193 -0.806686,1.915879 -0.806687,0.806686 -1.91588,0.806686 z"/>
        <path d="m 64.805289,22.351925 q -0.403343,1.310865 -1.546148,2.218386 -1.142806,0.87391 -2.520894,0.87391 -1.445313,0 -2.554506,-0.840298 -1.109194,-0.840298 -1.512537,-2.251998 l -4.537609,-15.8312145 5.613191,0 2.991461,10.4533075 3.260356,-10.4533075 5.579578,0 -4.772892,15.8312145 z"/>
        <path d="m 73.44355,24.940042 q -1.109194,0 -1.91588,-0.806686 -0.806686,-0.806686 -0.806686,-1.915879 l 0,-15.6967665 5.445131,0 0,13.0078125 5.411519,0 0,-13.0078125 5.411519,0 0,18.4193315 -13.545603,0 z"/>
      </g>
    </g>
  </svg>
</div>
<!-- END: Logo -->
